[submodule "spacy_md_api"]
	path = spacy_md_api
	url = https://github.com/kmdn/spacy_md_api.git
[submodule "linker_recommender_api"]
	path = linker_recommender_api
	url = https://github.com/kmdn/linker_recommender_api.git
[submodule "clit_frontend"]
	path = clit_frontend
	url = https://github.com/kmdn/clit_frontend.git
[submodule "clit_backend"]
	path = clit_backend
	url = https://github.com/kmdn/clit_backend.git
[submodule "REL"]
	path = REL
	url = https://github.com/hashpad/REL
